@import url("reset.css");
@import url("./color-palette/color.css");
@import url("https://angry-bird-ui.netlify.app/components/All-css-files/main.css");


body{
    background-color: var(--secondary-coolor);
}
.tab-container{
    background-color: var(--theme-color);
}
.homepage-link{
    font-size:  1.5rem;
    line-height: 2;
    width: 20%;
    background-color: var(--white);
    color: var(--theme-color);
    position: absolute;
    top: 35rem;
    left: 35rem;
    text-decoration: none;
    text-align: center;
}
.img-landing-page{
    position: absolute;
    top: 7rem;
    left: 25rem;
    width: 37.5rem;
    height: 25rem;
    border-radius: 35%;
}
@media (max-width: 468px) {
    .quiz-homepage-heading{
        position: absolute;
        left: 3rem;
        width: 12.5rem;
        font-size:2rem;
    }
    .img-landing-page{
        position: absolute;
        left: 1rem;
        width: 18.75rem;
        height: 15.625rem;
    }
    .homepage-link{
        position: absolute;
        left: 3.5rem;
        top: 34rem;
        width: 12.5rem;
    }
}