:root {
    --theme-color : #000000;
    --white : white;
    --secondary-coolor: #202020;
    --start-button: #2D6A4F;
    --end-button: #D90429;
    --btn-adventure : #EDC126;
    --politics-color : #FF6666;
}